{% extends "layout.html" %}

{% block main %}

<ul>
{% for fruit in my_fruit_list %}
    {% if fruit == "limes" %}
        <li style="color:green;font-size:2em">{{fruit}}</li>
    {% else %}
        <li>{{fruit}}</li>
    {% endif %}
{% endfor %}
</ul>


<dl>
{% for person in my_person_list %}
    <dt>Name:
        <a href="\">{{person.name}}</a>
    </dt>
    <dd>Age:
        {{person.age}}
    </dd>
{% endfor %}
</dl>



<dl>
{% for person in my_person_list %}
    {{ my_macro(person.name, person.age) }}
{% endfor %}
</dl>

{% endblock %}




